<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>ESG</title>

    <!-- Favicon -->
    <link rel="icon" href="/images/core-img/Logo-07-07.png">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/slider.css">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- /Preloader -->

    <!-- Header Area Start -->
    <header class="header-area">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="conferNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="#welcome"><img src="/images/core-img/Logo-07-07.png" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- Menu Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>
                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li class="active"><a href="#welcome">Home</a></li>
                                <!--<li><a href="#">Pages</a>
                                    <ul class="dropdown">
                                        <li><a href="index.html">- Home</a></li>
                                        <li><a href="/about">- About Us</a></li>
                                        <li><a href="speakers.html">- Speakears</a></li>
                                        <li><a href="schedule.html">- Schedule</a></li>
                                        <li><a href="tickets.html">- Tickets</a></li>
                                        <li><a href="blog.html">- Blog</a></li>
                                        <li><a href="single-blog.html">- Single Blog</a></li>
                                        <li><a href="contact.html">- Contact</a></li>
                                        <li><a href="#">- Dropdown</a>
                                            <ul class="dropdown">
                                                <li><a href="#">- Dropdown Item</a></li>
                                                <li><a href="#">- Dropdown Item</a></li>
                                                <li><a href="#">- Dropdown Item</a></li>
                                                <li><a href="#">- Dropdown Item</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="blog.html">Blog</a></li>-->
                                <li><a href="gallery">Gallery</a></li>
                                <li><a href="policy">Policy Retreat</a></li>
                                <li><a href="#speakers">Speakers</a></li>
                                <li><a href="#contact">Contact</a></li>
                            </ul>

                            <!-- Get Tickets Button -->
                            <a href="https://forms.gle/z6yPbF4R8os6KaXY8" target="_blank" class="btn confer-btn mt-3 mt-lg-0 ml-3 ml-lg-5">Register Now <i class="zmdi zmdi-long-arrow-right"></i></a>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <!-- Welcome Area Start -->
    <section id="welcome" class="welcome-area">
        <div class="welcome-slides owl-carousel">
            <!-- Single Slide -->
            <div class="single-welcome-slide bg-img bg-overlay jarallax" style="background-image: url(images/Background2.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12">
                            <div class="welcome-text text-right">
                                <h2 data-animation="fadeInUp" data-delay="300ms">Samaavesh</h2>
                                <h4 data-animation="fadeInUp" data-delay="400ms">The Global ESG Summit</h4>
                                <h6 data-animation="fadeInUp" data-delay="500ms">Indian Habitat Centre, New Delhi</h6>
                                <div class="hero-btn-group" data-animation="fadeInUp" data-delay="700ms">
                                    <a href="https://forms.gle/z6yPbF4R8os6KaXY8" target="_blank" class="btn confer-btn">Register Now <i class="zmdi zmdi-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Slide -->
            <div class="single-welcome-slide bg-img bg-overlay jarallax" style="background-image: url(images/Background3.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12">
                            <div class="welcome-text-two text-center">
                                <h5 data-animation="fadeInUp" data-delay="100ms">The Global</h5>
                                <h2 data-animation="fadeInUp" data-delay="300ms">ESG Summit</h2>
                                <!-- Event Meta -->
                                <div class="event-meta" data-animation="fadeInUp" data-delay="500ms">
                                    <a class="event-date" href="#"><i class="zmdi zmdi-account"></i> March 16th-17th, 2023</a>
                                    <a class="event-author" href="#"><i class="zmdi zmdi-alarm-check"></i>Indian Habitat Centre, New Delhi</a>
                                </div>
                                <div class="hero-btn-group" data-animation="fadeInUp" data-delay="700ms">
                                    <a href="#speakers" class="btn confer-btn m-2">Our Speakers <i class="zmdi zmdi-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Scroll Icon -->
        <div class="icon-scroll" id="scrollDown"></div>
    </section>
    <!-- Welcome Area End -->

    <!-- About Us And Countdown Area Start -->
    <section class="about-us-countdown-area section-padding-100-0" id="about">
        <div class="container">
            <div class="row align-items-center">
                <!-- About Content -->
                <div class="col-12 col-md-6">
                    <div class="about-content-text mb-80">
                        <h6 class="wow fadeInUp" data-wow-delay="300ms">About the Summit</h6>
                        <h3 class="wow fadeInUp" data-wow-delay="300ms">Connecting Corporates to Communities</h3>
                        <p class="wow fadeInUp" data-wow-delay="300ms">Samaavesh Global ESG Summit led by Ambassador Dr Dnyaneshwar Mulay, aims to democratise conversations around Corporate Social Responsibility. The summit being held on the 16th -17th March 2023 in New Delhi shall bring together representatives from CSR Foundations, Corporates, HNIs, NGOs of various stature as well as government to collaborate and build sustainable synergies.

                            <br>The summit shall aim at helping connect organisations working in the development sector at varying scales to corporates looking to reach out to sustainable initiatives. The summit shall also focus on skill building of social sector organisations to align their strategies for fundraising and communications to ensure efficient results.
                            
                            </p>
                    </div>
                </div>

                <!-- About Thumb -->
                <div class="col-12 col-md-6">
                    <div class="about-thumb mb-80 wow fadeInUp" data-wow-delay="300ms">
                        <img src="images/CCC.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row ">
                <!-- About Content -->
                <div class="col-12 col-md-6">
                    <div class="about-content-text mb-80">
                        <h3 class="wow fadeInUp" data-wow-delay="300ms">Our Vision</h3>
                        <p class="wow fadeInUp" data-wow-delay="300ms">Build an enabling environment for all stakeholders in the social sector to collaborate and scale seamlessly.</p>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="about-content-text mb-80">
                        <h3 class="wow fadeInUp" data-wow-delay="300ms">Our Mission</h3>
                        <p class="wow fadeInUp" data-wow-delay="300ms">Provide support to Civil Society Organizations as well as philanthropists to navigate the social sector through a platform aimed at building synergies.
                        </p>
                    </div>
                </div>
                <a href="https://forms.gle/z6yPbF4R8os6KaXY8" class="btn confer-btn wow fadeInUp" data-wow-delay="300ms">Interested <i class="zmdi zmdi-long-arrow-right"></i></a>

            </div>
        </div>

        <!-- Counter Up Area -->
        <div class="countdown-up-area">
            <div class="container">
                <div class="row align-items-center">
                    <div >
                        <!-- Countdown Text -->
                        <div class="countdown-content-text mb-50 wow fadeInUp" data-wow-delay="300ms">
                            <h6>Summit Date</h6>
                            <h4>Count Every Second Until the Event</h4>
                        </div>
                    </div>
                    <!--
                    <div class="col-12 col-md-9">
                        <div class="countdown-timer mb-100 wow fadeInUp" data-wow-delay="300ms">
                            <div id="clock"></div>
                        </div>
                    </div>-->
                    <br>
                </div>
                    <div id="countdown">
                        <ul>
                          <li><span id="days"></span>days</li>
                          <li><span id="hours"></span>Hours</li>
                          <li><span id="minutes"></span>Minutes</li>
                          <li><span id="seconds"></span>Seconds</li>
                        </ul>
                      </div>
                
            </div>
        </div>
    </section>
    <!-- About Us And Countdown Area End -->

    <!-- Our Speakings Area Start -->
    <section id="speakers" class="our-speaker-area bg-img bg-gradient-overlay section-padding-100-60" style="background-image: url(images/bg-img/3.jpg);">
        <div class="container">
            <div class="row">
                <!-- Heading -->
                <div class="col-12">
                    <div class="section-heading text-center wow fadeInUp" data-wow-delay="300ms">
                        <p>Our Speakers</p>
                        <h4>Who's speaking</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Speaker Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src="images/Speakers/kaushal-kishore.jpg" alt="">
                        </div>
                        <!-- Social Info -->
                        <div class="social-info">
                            <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                            <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                        </div>
                        <!-- Info -->
                        <div class="speaker-info">
                            <h5>Kaushal Kishore</h5>
                            <p>Minister for Housing and Urban Affairs of India</p>
                        </div>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src="images/Speakers/Vinay Sahasrabuddhe.jpg" alt="">
                        </div>
                        <!-- Social Info -->
                        <div class="social-info">
                            <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                            <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                        </div>
                        <!-- Info -->
                        <div class="speaker-info">
                            <h5>Dr. Vinay Sahasrabuddhe</h5>
                            <p>President, ICCR and Rajya Sabha MP</p>
                        </div>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src="images/Speakers/samantji.webp" alt="">
                        </div>
                        <!-- Social Info -->
                        <div class="social-info">
                            <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                            <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                        </div>
                        <!-- Info -->
                        <div class="speaker-info">
                            <h5>Dr. Achyuta Samanta</h5>
                            <p>Founder, KIIT and KISS and Lok Sabha, MP</p>
                        </div>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src="images/Speakers/Nidhi Bhasin.jpg" alt="">
                        </div>
                        <!-- Social Info -->
                        <div class="social-info">
                            <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                            <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                        </div>
                        <!-- Info -->
                        <div class="speaker-info">
                            <h5>Nidhi Bhasin</h5>
                            <p>CEO NASSCOM Foundation</p>
                        </div>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src="images/Speakers/Mohammed Asif.jpg" alt="">
                        </div>
                        <!-- Social Info -->
                        <div class="social-info">
                            <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                            <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                        </div>
                        <!-- Info -->
                        <div class="speaker-info">
                            <h5>Mohammed Asif</h5>
                            <p>Executive Director, Plan India</p>
                        </div>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src="images/Speakers/Gurucharan Das.jfif" alt="">
                        </div>
                        <!-- Social Info -->
                        <div class="social-info">
                            <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                            <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                        </div>
                        <!-- Info -->
                        <div class="speaker-info">
                            <h5>Gurucharan Das</h5>
                            <p>Noted Author</p>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="more-speaker-btn text-center mt-20 mb-40 wow fadeInUp" data-wow-delay="300ms">
                        <a class="btn confer-btn-white" href="#">view all Speaker <i class="zmdi zmdi-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>



        </div>
    </section>
    <!-- Our Speakings Area End -->

    <div class="gallery">
        <div class="row">
            <!-- Heading -->
            <div class="col-12">
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="300ms">
                    <p>Our Past Events</p>
                    <h4>Gallery</h4>
                </div>
            </div>
        </div>
    <div class="wrapper row">
        <span><img src="images/Gallery/1.JPG" alt=""></span>
        <span><img src="images/Gallery/2 copy.JPG" alt=""></span>
        <span><img src="images/Gallery/3.JPG" alt=""></span>
        <span><img src="images/Gallery/4.JPG" alt=""></span>
        <span><img src="images/Gallery/5.JPG" alt=""></span>
        <span><img src="images/Gallery/6.JPG" alt=""></span>
        <span><img src="images/Gallery/11.JPG" alt=""></span>
        <span><img src="images/Gallery/8.JPG" alt=""></span>
        <span><img src="images/Gallery/9.JPG" alt=""></span>
        <span><img src="images/Gallery/10.JPG" alt=""></span>
      </div>
    </div>


    <!-- Our Schedule Area Start -->
    <section class="our-schedule-area section-padding-100">
        <div class="container">
            <div class="row">
                <!-- Heading -->
                <div class="col-12">
                    <div class="section-heading text-center wow fadeInUp" data-wow-delay="300ms">
                        <p>Our Timetable</p>
                        <h4>Schedule Plan</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="schedule-tab">
                        <!-- Nav Tabs -->
                        <ul class="nav nav-tabs wow fadeInUp" data-wow-delay="300ms" id="conferScheduleTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="monday-tab" data-toggle="tab" href="#step-one" role="tab" aria-controls="step-one" aria-expanded="true">Thursday <br> <span>March 16, 2023</span></a>
                            </li>
                            <!-- Nav Item -->
                            <li class="nav-item">
                                <a class="nav-link" id="tuesday-tab" data-toggle="tab" href="#step-two" role="tab" aria-controls="step-two" aria-expanded="true">Friday <br> <span>March 17, 2023</span></a>
                            </li>
                        </ul>
                    </div>

                    <!-- Tab Content -->
                    <div class="tab-content" id="conferScheduleTabContent">
                        <div class="tab-pane fade show active" id="step-one" role="tabpanel" aria-labelledby="monday-tab">
                            <!-- Single Tab Content -->
                            <div class="single-tab-content">
                                <div class="row">
                                    <div class="col-12">
                                        <!-- Single Schedule Area -->
                                        <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp" data-wow-delay="300ms">
                                            <!-- Single Schedule Thumb and Info -->
                                            <div class="single-schedule-tumb-info d-flex align-items-center">
                                                <!-- Single Schedule Thumb -->
                                                <div class="single-schedule-tumb">
                                                    <img src="images/bg-img/10.jpg" alt="">
                                                </div>
                                                <!-- Single Schedule Info -->
                                                <div class="single-schedule-info">
                                                    <h6>Registeration</h6>
                                                    <p>TBD</p>
                                                    <!--<p>by <span>Gary Armstrong</span> / Ceo of Confer</p>-->
                                                </div>
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="schedule-time-place">
                                                <p><i class="zmdi zmdi-time"></i> 9:00 to 10:00 AM</p>
                                                <p><i class="zmdi zmdi-map"></i> Stein Auditorium</p>
                                            </div>
                                            <!-- Schedule Btn 
                                            <a href="#" class="btn confer-btn">View More <i class="zmdi zmdi-long-arrow-right"></i></a>-->
                                        </div>

                                        <!-- Single Schedule Area -->
                                        <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp" data-wow-delay="300ms">
                                            <!-- Single Schedule Thumb and Info -->
                                            <div class="single-schedule-tumb-info d-flex align-items-center">
                                                <!-- Single Schedule Thumb -->
                                                <div class="single-schedule-tumb">
                                                    <img src="images/bg-img/10.jpg" alt="">
                                                </div>
                                                <!-- Single Schedule Info -->
                                                <div class="single-schedule-info">
                                                    <h6>Opening Ceremony</h6>
                                                    <p>TBD</p>
                                                    <!--<p>by <span>Gary Armstrong</span> / Ceo of Confer</p>-->
                                                </div>
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="schedule-time-place">
                                                <p><i class="zmdi zmdi-time"></i> 10:00 to 11:30 AM</p>
                                                <p><i class="zmdi zmdi-map"></i> Stein Auditorium</p>
                                            </div>
                                            <!-- Schedule Btn 
                                            <a href="#" class="btn confer-btn">View More <i class="zmdi zmdi-long-arrow-right"></i></a>-->
                                        </div>

                                        <!-- Single Schedule Area -->
                                        <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp" data-wow-delay="300ms">
                                            <!-- Single Schedule Thumb and Info -->
                                            <div class="single-schedule-tumb-info d-flex align-items-center">
                                                <!-- Single Schedule Thumb -->
                                                <div class="single-schedule-tumb">
                                                    <img src="images/bg-img/10.jpg" alt="">
                                                </div>
                                                <!-- Single Schedule Info -->
                                                <div class="single-schedule-info">
                                                    <h6>Inaugural Session: Sustainability in Human Rights </h6>
                                                    <p>TBD</p>
                                                    <!--<p>by <span>Gary Armstrong</span> / Ceo of Confer</p>-->
                                                </div>
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="schedule-time-place">
                                                <p><i class="zmdi zmdi-time"></i> 11:30 AM to 12:30 PM</p>
                                                <p><i class="zmdi zmdi-map"></i> Stein Auditorium</p>
                                            </div>
                                            <!-- Schedule Btn 
                                            <a href="#" class="btn confer-btn">View More <i class="zmdi zmdi-long-arrow-right"></i></a>-->
                                        </div>

                                        <!-- Single Schedule Area -->
                                        <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp" data-wow-delay="300ms">
                                            <!-- Single Schedule Thumb and Info -->
                                            <div class="single-schedule-tumb-info d-flex align-items-center">
                                                <!-- Single Schedule Thumb -->
                                                <div class="single-schedule-tumb">
                                                    <img src="images/bg-img/10.jpg" alt="">
                                                </div>
                                                <!-- Single Schedule Info -->
                                                <div class="single-schedule-info">
                                                    <h6>Generating Livelihood and Preserving Heritage through One Product One District</h6>
                                                    <p>TBD</p>
                                                    <!--<p>by <span>Gary Armstrong</span> / Ceo of Confer</p>-->
                                                </div>
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="schedule-time-place">
                                                <p><i class="zmdi zmdi-time"></i> 12:30 to 1:30 PM</p>
                                                <p><i class="zmdi zmdi-map"></i> Stein Auditorium</p>
                                            </div>
                                            <!-- Schedule Btn 
                                            <a href="#" class="btn confer-btn">View More <i class="zmdi zmdi-long-arrow-right"></i></a>-->
                                        </div>

                                        <!-- Single Schedule Area -->
                                        <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp" data-wow-delay="300ms">
                                            <!-- Single Schedule Thumb and Info -->
                                            <div class="single-schedule-tumb-info d-flex align-items-center">
                                                <!-- Single Schedule Thumb -->
                                                <div class="single-schedule-tumb">
                                                    <img src="images/bg-img/10.jpg" alt="">
                                                </div>
                                                <!-- Single Schedule Info -->
                                                <div class="single-schedule-info">
                                                    <h6>Networking Lunch</h6>
                                                    <p>TBD</p>
                                                    <!--<p>by <span>Gary Armstrong</span> / Ceo of Confer</p>-->
                                                </div>
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="schedule-time-place">
                                                <p><i class="zmdi zmdi-time"></i> 1:30 to 2:00 PM</p>
                                                <p><i class="zmdi zmdi-map"></i> Lunch Area</p>
                                            </div>
                                            <!-- Schedule Btn 
                                            <a href="#" class="btn confer-btn">View More <i class="zmdi zmdi-long-arrow-right"></i></a>-->
                                        </div>

                                        <!-- Single Schedule Area -->
                                        <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp" data-wow-delay="300ms">
                                            <!-- Single Schedule Thumb and Info -->
                                            <div class="single-schedule-tumb-info d-flex align-items-center">
                                                <!-- Single Schedule Thumb -->
                                                <div class="single-schedule-tumb">
                                                    <img src="images/bg-img/10.jpg" alt="">
                                                </div>
                                                <!-- Single Schedule Info -->
                                                <div class="single-schedule-info">
                                                    <h6>Role Of Technology in Creating Sustainable Cities</h6>
                                                    <p>TBD</p>
                                                    <!--<p>by <span>Gary Armstrong</span> / Ceo of Confer</p>-->
                                                </div>
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="schedule-time-place">
                                                <p><i class="zmdi zmdi-time"></i> 2:00 to 3:00 PM</p>
                                                <p><i class="zmdi zmdi-map"></i> Stein Auditorium</p>
                                            </div>
                                            <!-- Schedule Btn 
                                            <a href="#" class="btn confer-btn">View More <i class="zmdi zmdi-long-arrow-right"></i></a>-->
                                        </div>

                                        <!-- Single Schedule Area -->
                                        <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp" data-wow-delay="300ms">
                                            <!-- Single Schedule Thumb and Info -->
                                            <div class="single-schedule-tumb-info d-flex align-items-center">
                                                <!-- Single Schedule Thumb -->
                                                <div class="single-schedule-tumb">
                                                    <img src="images/bg-img/10.jpg" alt="">
                                                </div>
                                                <!-- Single Schedule Info -->
                                                <div class="single-schedule-info">
                                                    <h6>Nutrition: Health or Gem</h6>
                                                    <p>TBD</p>
                                                    <!--<p>by <span>Gary Armstrong</span> / Ceo of Confer</p>-->
                                                </div>
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="schedule-time-place">
                                                <p><i class="zmdi zmdi-time"></i> 3:00 to 4:00 PM</p>
                                                <p><i class="zmdi zmdi-map"></i> Stein Auditorium</p>
                                            </div>
                                            <!-- Schedule Btn 
                                            <a href="#" class="btn confer-btn">View More <i class="zmdi zmdi-long-arrow-right"></i></a>-->
                                        </div>

                                        <!-- Single Schedule Area -->
                                        <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp" data-wow-delay="300ms">
                                            <!-- Single Schedule Thumb and Info -->
                                            <div class="single-schedule-tumb-info d-flex align-items-center">
                                                <!-- Single Schedule Thumb -->
                                                <div class="single-schedule-tumb">
                                                    <img src="images/bg-img/10.jpg" alt="">
                                                </div>
                                                <!-- Single Schedule Info -->
                                                <div class="single-schedule-info">
                                                    <h6>Compating Climate Change and Discussing Best Practices</h6>
                                                    <p>TBD</p>
                                                    <!--<p>by <span>Gary Armstrong</span> / Ceo of Confer</p>-->
                                                </div>
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="schedule-time-place">
                                                <p><i class="zmdi zmdi-time"></i> 4:00 to 5:00 PM</p>
                                                <p><i class="zmdi zmdi-map"></i> Stein Auditorium</p>
                                            </div>
                                            <!-- Schedule Btn 
                                            <a href="#" class="btn confer-btn">View More <i class="zmdi zmdi-long-arrow-right"></i></a>-->
                                        </div>

                                        <!-- Single Schedule Area -->
                                        <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp" data-wow-delay="300ms">
                                            <!-- Single Schedule Thumb and Info -->
                                            <div class="single-schedule-tumb-info d-flex align-items-center">
                                                <!-- Single Schedule Thumb -->
                                                <div class="single-schedule-tumb">
                                                    <img src="images/bg-img/10.jpg" alt="">
                                                </div>
                                                <!-- Single Schedule Info -->
                                                <div class="single-schedule-info">
                                                    <h6>High Tea</h6>
                                                    <p>TBD</p>
                                                    <!--<p>by <span>Gary Armstrong</span> / Ceo of Confer</p>-->
                                                </div>
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="schedule-time-place">
                                                <p><i class="zmdi zmdi-time"></i> 5:00 to 5:30 PM</p>
                                                <p><i class="zmdi zmdi-map"></i> Lunch Area</p>
                                            </div>
                                            <!-- Schedule Btn 
                                            <a href="#" class="btn confer-btn">View More <i class="zmdi zmdi-long-arrow-right"></i></a>-->
                                        </div>

                                        



                                       



                                    </div>

                                    <!-- More Schedule Btn 
                                    <div class="col-12">
                                        <div class="more-schedule-btn text-center mt-50 wow fadeInUp" data-wow-delay="300ms">
                                            <a href="#" class="btn confer-gb-btn">Dowload schedule (Pdf)</a>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="step-two" role="tabpanel" aria-labelledby="tuesday-tab">
                            <!-- Single Tab Content -->
                            <div class="single-tab-content">
                                <div class="row">
                                    <div class="col-12">
                                        <!-- Single Schedule Area -->
                                        <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp" data-wow-delay="300ms">
                                            <!-- Single Schedule Thumb and Info -->
                                            <div class="single-schedule-tumb-info d-flex align-items-center">
                                                <!-- Single Schedule Thumb -->
                                                <div class="single-schedule-tumb">
                                                    <img src="images/bg-img/11.jpg" alt="">
                                                </div>
                                                <!-- Single Schedule Info -->
                                                <div class="single-schedule-info">
                                                    <h6>Capacity Building on Fund Raising - ESG</h6>
                                                    <p>TBD</p>
                                                    <!--<p>by <span>Amanda Hudson</span> / Ceo of Confer</p>-->
                                                </div>
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="schedule-time-place">
                                                <p><i class="zmdi zmdi-time"></i> 10:00 to 11:00 AM</p>
                                                <p><i class="zmdi zmdi-map"></i> Stein Auditorium</p>
                                            </div>
                                            <!-- Schedule Btn 
                                            <a href="#" class="btn confer-btn">View More <i class="zmdi zmdi-long-arrow-right"></i></a>-->
                                        </div>


                                         <!-- Single Schedule Area -->
                                         <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp" data-wow-delay="300ms">
                                            <!-- Single Schedule Thumb and Info -->
                                            <div class="single-schedule-tumb-info d-flex align-items-center">
                                                <!-- Single Schedule Thumb -->
                                                <div class="single-schedule-tumb">
                                                    <img src="images/bg-img/11.jpg" alt="">
                                                </div>
                                                <!-- Single Schedule Info -->
                                                <div class="single-schedule-info">
                                                    <h6>Tax Compliances For Development Sector</h6>
                                                    <p>TBD</p>
                                                    <!--<p>by <span>Amanda Hudson</span> / Ceo of Confer</p>-->
                                                </div>
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="schedule-time-place">
                                                <p><i class="zmdi zmdi-time"></i> 11:00 AM to 12:00 PM</p>
                                                <p><i class="zmdi zmdi-map"></i> Stein Auditorium</p>
                                            </div>
                                            <!-- Schedule Btn 
                                            <a href="#" class="btn confer-btn">View More <i class="zmdi zmdi-long-arrow-right"></i></a>-->
                                        </div>

                                        <!-- Single Schedule Area -->
                                        <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp" data-wow-delay="300ms">
                                            <!-- Single Schedule Thumb and Info -->
                                            <div class="single-schedule-tumb-info d-flex align-items-center">
                                                <!-- Single Schedule Thumb -->
                                                <div class="single-schedule-tumb">
                                                    <img src="images/bg-img/11.jpg" alt="">
                                                </div>
                                                <!-- Single Schedule Info -->
                                                <div class="single-schedule-info">
                                                    <h6>Gender Equity in CSR Programs: Best Practices from the field</h6>
                                                    <p>TBD</p>
                                                    <!--<p>by <span>Amanda Hudson</span> / Ceo of Confer</p>-->
                                                </div>
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="schedule-time-place">
                                                <p><i class="zmdi zmdi-time"></i> 12:00 AM to 1:00 PM</p>
                                                <p><i class="zmdi zmdi-map"></i> Stein Auditorium</p>
                                            </div>
                                            <!-- Schedule Btn 
                                            <a href="#" class="btn confer-btn">View More <i class="zmdi zmdi-long-arrow-right"></i></a>-->
                                        </div>

                                         <!-- Single Schedule Area -->
                                         <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp" data-wow-delay="300ms">
                                            <!-- Single Schedule Thumb and Info -->
                                            <div class="single-schedule-tumb-info d-flex align-items-center">
                                                <!-- Single Schedule Thumb -->
                                                <div class="single-schedule-tumb">
                                                    <img src="images/bg-img/11.jpg" alt="">
                                                </div>
                                                <!-- Single Schedule Info -->
                                                <div class="single-schedule-info">
                                                    <h6>Networking Lunch</h6>
                                                    <p>TBD</p>
                                                    <!--<p>by <span>Amanda Hudson</span> / Ceo of Confer</p>-->
                                                </div>
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="schedule-time-place">
                                                <p><i class="zmdi zmdi-time"></i> 1:00 to 2:00 PM</p>
                                                <p><i class="zmdi zmdi-map"></i> Lunch Area</p>
                                            </div>
                                            <!-- Schedule Btn 
                                            <a href="#" class="btn confer-btn">View More <i class="zmdi zmdi-long-arrow-right"></i></a>-->
                                        </div>

                                         <!-- Single Schedule Area -->
                                         <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp" data-wow-delay="300ms">
                                            <!-- Single Schedule Thumb and Info -->
                                            <div class="single-schedule-tumb-info d-flex align-items-center">
                                                <!-- Single Schedule Thumb -->
                                                <div class="single-schedule-tumb">
                                                    <img src="images/bg-img/11.jpg" alt="">
                                                </div>
                                                <!-- Single Schedule Info -->
                                                <div class="single-schedule-info">
                                                    <h6>Education and Skilling</h6>
                                                    <p>TBD</p>
                                                    <!--<p>by <span>Amanda Hudson</span> / Ceo of Confer</p>-->
                                                </div>
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="schedule-time-place">
                                                <p><i class="zmdi zmdi-time"></i> 2:00 to 3:00 PM</p>
                                                <p><i class="zmdi zmdi-map"></i> Stein Auditorium</p>
                                            </div>
                                            <!-- Schedule Btn 
                                            <a href="#" class="btn confer-btn">View More <i class="zmdi zmdi-long-arrow-right"></i></a>-->
                                        </div>

                                         <!-- Single Schedule Area -->
                                         <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp" data-wow-delay="300ms">
                                            <!-- Single Schedule Thumb and Info -->
                                            <div class="single-schedule-tumb-info d-flex align-items-center">
                                                <!-- Single Schedule Thumb -->
                                                <div class="single-schedule-tumb">
                                                    <img src="images/bg-img/11.jpg" alt="">
                                                </div>
                                                <!-- Single Schedule Info -->
                                                <div class="single-schedule-info">
                                                    <h6>Closing Ceremony</h6>
                                                    <p>TBD</p>
                                                    <!--<p>by <span>Amanda Hudson</span> / Ceo of Confer</p>-->
                                                </div>
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="schedule-time-place">
                                                <p><i class="zmdi zmdi-time"></i> 3:00 to 5:00 PM</p>
                                                <p><i class="zmdi zmdi-map"></i> Stein Auditorium</p>
                                            </div>
                                            <!-- Schedule Btn 
                                            <a href="#" class="btn confer-btn">View More <i class="zmdi zmdi-long-arrow-right"></i></a>-->
                                        </div>

                                         <!-- Single Schedule Area -->
                                         <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp" data-wow-delay="300ms">
                                            <!-- Single Schedule Thumb and Info -->
                                            <div class="single-schedule-tumb-info d-flex align-items-center">
                                                <!-- Single Schedule Thumb -->
                                                <div class="single-schedule-tumb">
                                                    <img src="images/bg-img/11.jpg" alt="">
                                                </div>
                                                <!-- Single Schedule Info -->
                                                <div class="single-schedule-info">
                                                    <h6>High Tea</h6>
                                                    <p>TBD</p>
                                                    <!--<p>by <span>Amanda Hudson</span> / Ceo of Confer</p>-->
                                                </div>
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="schedule-time-place">
                                                <p><i class="zmdi zmdi-time"></i> 5:00 to 5:30 PM</p>
                                                <p><i class="zmdi zmdi-map"></i> Lunch Area</p>
                                            </div>
                                            <!-- Schedule Btn 
                                            <a href="#" class="btn confer-btn">View More <i class="zmdi zmdi-long-arrow-right"></i></a>-->
                                        </div>

                                       


                                    </div>

                                    <!-- More Schedule Btn 
                                    <div class="col-12">
                                        <div class="more-schedule-btn text-center mt-50 wow fadeInUp" data-wow-delay="300ms">
                                            <a href="#" class="btn confer-gb-btn">Dowload schedule (Pdf)</a>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Our Schedule Area End -->

    <!-- Our Ticket Pricing Table Area Start -->
    <section class="our-ticket-pricing-table-area bg-img bg-gradient-overlay section-padding-100-0 jarallax" style="background-image: url(images/bg-img/14.jpg);">
        <div class="container">
            <div class="row">
                <!-- Heading -->
                <div class="col-12">
                    <div class="section-heading text-center wow fadeInUp" data-wow-delay="300ms">
                        <p>Choose what suits you best</p>
                        <h4>Pricing</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Ticket Pricing Table -->
                <div class="col-12 col-lg-6">
                    <div class="single-ticket-pricing-table text-center mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <h6 class="ticket-plan">Students & Individuals</h6>
                        <!-- Ticket Icon -->
                        <div class="ticket-icon">
                            <img src="images/core-img/p1.png" alt="">
                        </div>
                        <h2 class="ticket-price"><span></span>2,000</h2>
                        <a href="https://forms.gle/z6yPbF4R8os6KaXY8" target="_blank" class="btn confer-btn w-100 mb-30">Book your slot <i class="zmdi zmdi-long-arrow-right"></i></a>
                        <!-- Ticket Pricing Table Details -->
                        <div class="ticket-pricing-table-details">
                            <p><i class="zmdi zmdi-check"></i> One Person Entry Pass For 2 Days</p>
                            <p><i class="zmdi zmdi-check"></i> Lunch and Networking</p>
                            <p><i class="zmdi zmdi-check"></i> Exclusive Access To All Panel Discussions and Master Classes</p>
                        </div>
                    </div>
                </div>

                <!-- Single Ticket Pricing Table -->
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="single-ticket-pricing-table active text-center mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <h6 class="ticket-plan">Corporates/NGOs/Others</h6>
                        <!-- Ticket Icon -->
                        <div class="ticket-icon">
                            <img src="images/core-img/p2.png" alt="">
                        </div>
                        <h2 class="ticket-price"><span></span>5,000</h2>
                        <a href="https://forms.gle/z6yPbF4R8os6KaXY8" target="_blank" class="btn confer-btn w-100 mb-30">Book your slot <i class="zmdi zmdi-long-arrow-right"></i></a>
                        <!-- Ticket Pricing Table Details -->
                        <div class="ticket-pricing-table-details">
                            <p><i class="zmdi zmdi-check"></i> One Person Entry Pass For 2 Days</p>
                            <p><i class="zmdi zmdi-check"></i> Chance To Present Idea/Initiative To Potential Donors</p>
                            <p><i class="zmdi zmdi-check"></i> Lunch and Networking</p>
                            <p><i class="zmdi zmdi-check"></i> Exclusive Access To All Panel Discussions and Master Classes</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Our Ticket Pricing Table Area End -->

    <!-- Our Sponsor And Client Area Start -->
    <section class="our-sponsor-client-area section-padding-100">
        <div class="container">
            <div class="row">
                <!-- Heading -->
                <div class="col-12">
                    <div class="section-heading-2 text-center wow fadeInUp" data-wow-delay="300ms">
                        <p>Partners &amp; Sponsors</p>
                        <h4>OFFICIAL SPONSOR</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <!-- Our Sponsor area -->
                    <div class="our-sponsor-area d-flex flex-wrap">
                        <!-- Single Sponsor -->
                        <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                            <a href="#"><img src="images/G20.png" alt=""></a>
                        </div>
                        <!-- Single Sponsor -->
                        <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                            <a href="#"><img src="images/C20.png" alt=""></a>
                        </div>
                        
                        <!-- Single Sponsor -->
                        <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                            <a href="#"><img src="images/MOP.png" alt=""></a>
                        </div>
                        <!-- Single Sponsor -->
                        <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                            <a href="#"><img src="images/councilroot.jpg" alt=""></a>
                        </div>
                        <!-- Single Sponsor -->
                        <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                            <a href="#"><img src="images/anantSheelLogo2.png" alt=""></a>
                        </div>
                        
                    </div>
                </div>

           <!-- <div class="scene">
                <label class="card-wrap">
                    <input type="checkbox" class="flipcard">
                    <div class="card">
                        <div class="front card-face">
                            <img src="/images/dm Mulay Foundation2.png" alt="" class="card-photo">
                        </div>
                        <div class="back card-face">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </label>
                <label class="card-wrap">
                    <input type="checkbox" class="flipcard">
                    <div class="card">
                        <div class="front card-face">
                            <img src="https://images.unsplash.com/photo-1531518326825-96490ddf2a89?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" class="card-photo">
                        </div>
                        <div class="back card-face">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </label>
                <label class="card-wrap">
                    <input type="checkbox" class="flipcard">
                    <div class="card">
                        <div class="front card-face">
                            <img src="https://images.unsplash.com/photo-1529911194209-8578109840df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" class="card-photo">
                        </div>
                        <div class="back card-face">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </label>
            </div>-->

                <!-- Our client area 
                <div class="col-12">
                    <div class="our-client-area mt-100 wow fadeInUp" data-wow-delay="300ms">
                        <div class="client-area owl-carousel">
                            <div class="single-client-content">
                                <div class="single-client-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                                    <div class="single-client-thumb-info d-flex align-items-center">
                                        <div class="single-client-thumb">
                                            <img src="images/bg-img/15.jpg" alt="">
                                        </div>
                                        <div class="client-info">
                                            <h6>Maria Hernandez</h6>
                                            <p>UX Manager</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="client-icon">
                                    <i class="zmdi zmdi-quote"></i>
                                </div>
                            </div>

                            <div class="single-client-content">
                                <div class="single-client-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                                    <div class="single-client-thumb-info d-flex align-items-center">
                                        <div class="single-client-thumb">
                                            <img src="images/bg-img/16.jpg" alt="">
                                        </div>
                                        <div class="client-info">
                                            <h6>Jacqueline Myers</h6>
                                            <p>UX Manager</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="client-icon">
                                    <i class="zmdi zmdi-quote"></i>
                                </div>
                            </div>

                            <div class="single-client-content">
                                <div class="single-client-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                                    <div class="single-client-thumb-info d-flex align-items-center">
                                        <div class="single-client-thumb">
                                            <img src="images/bg-img/15.jpg" alt="">
                                        </div>
                                        <div class="client-info">
                                            <h6>Maria Hernandez</h6>
                                            <p>UX Manager</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="client-icon">
                                    <i class="zmdi zmdi-quote"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->


            </div>
        </div>
    </section>
    <!-- Our Sponsor And Client Area End -->


    




    <!-- Our Blog Area Start -->
    <section class="our-blog-area bg-img bg-gradient-overlay section-padding-100-60" style="background-image: url(images/Eventbg.jpg);">
        <div class="container">


            <div class="row">
                <div class="col-12">
                    <!-- Heading -->
                    <div class="section-heading text-center wow fadeInUp" data-wow-delay="300ms">
                        <!--<p>Our Blog</p>-->
                        <h4>Event Details</h4>
                    </div>

                    <div class="card-carousel">

                        <div class="my-card">
                          <!--<div class="col-12 col-md-6 col-lg-4">-->
                              <div class="single-blog-area wow fadeInUp" data-wow-delay="300ms">
                                  <!-- Single blog Thumb -->
                                  <div class="single-blog-thumb">
                                      <img src="images/Kiosks.jpg" alt="">
                                  </div>
                                  <div class="single-blog-text text-center">
                                      <a class="blog-title" href="#">Kiosks for NGOs</a>
                                      <!-- Post Meta -->
                                      <!--<div class="post-meta">
                                          <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                                          <a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Laura Green</a>
                                      </div>-->
                                      <p>The event shall feature an open space with kiosks for NGOs to showcase their projects and network with individuals present at the venue representing CSR foundations as well as Corporates who can be onboarded as potential donors. These kiosks shall be functional across the two days and provide live collaboration opportunities for all participants.</p>
                                  </div>
                                  <!--<div class="blog-btn">
                                      <a href="#"><i class="zmdi zmdi-long-arrow-right"></i></a>
                                  </div>-->
                              </div>
                          <!--</div>-->
                      </div>
          
                      <div class="my-card">
                          <!--<div class="col-12 col-md-6 col-lg-4">-->
                              <div class="single-blog-area wow fadeInUp" data-wow-delay="300ms">
                                  <!-- Single blog Thumb -->
                                  <div class="single-blog-thumb">
                                      <img src="images/networkingDinner.jpg" alt="">
                                  </div>
                                  <div class="single-blog-text text-center">
                                      <a class="blog-title" href="#">Networking Lunch</a>
                                      <!-- Post Meta -->
                                      <!--<div class="post-meta">
                                          <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                                          <a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Laura Green</a>
                                      </div>-->
                                      <p>There is a provision for a networking Lunch to be attended by a select group of representatives from corporates and governments which shall provide an opportunity for social sector organisations to network and present their work to the group.</p>
                                  </div>
                                  <!--<div class="blog-btn">
                                      <a href="#"><i class="zmdi zmdi-long-arrow-right"></i></a>
                                  </div>-->
                              </div>
                          <!--</div>-->
                      </div>
          
                      <div class="my-card">
                          <!--<div class="col-12 col-md-6 col-lg-4">-->
                              <div class="single-blog-area wow fadeInUp" data-wow-delay="300ms">
                                  <!-- Single blog Thumb -->
                                  <div class="single-blog-thumb">
                                      <img src="images/partnerMeetup.jpg" alt="">
                                  </div>
                                  <div class="single-blog-text text-center">
                                      <a class="blog-title" href="#">Partner Meet-ups</a>
                                      <!-- Post Meta -->
                                      <!--<div class="post-meta">
                                          <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                                          <a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Laura Green</a>
                                      </div>-->
                                      <p>The event shall provide for investor meet-ups in a separate space featuring 3-4 potential partners and donors for relevant organisations where the organisation can present their work and seek specific support-technical support as well as monetary support. </p>
                                  </div>
                                  <!--<div class="blog-btn">
                                      <a href="#"><i class="zmdi zmdi-long-arrow-right"></i></a>
                                  </div>-->
                              </div>
                          <!--</div>-->
                      </div>
          
                      <div class="my-card">
                          <!--<div class="col-12 col-md-6 col-lg-4">-->
                              <div class="single-blog-area wow fadeInUp" data-wow-delay="300ms">
                                  <!-- Single blog Thumb -->
                                  <div class="single-blog-thumb">
                                      <img src="images/panelDiscuss.jpg" alt="">
                                  </div>
                                  <div class="single-blog-text text-center">
                                      <a class="blog-title" href="#">Panel Discussions</a>
                                      <!-- Post Meta -->
                                      <!--<div class="post-meta">
                                          <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                                          <a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Laura Green</a>
                                      </div>-->
                                      <p>The event will have panel discussions with eminent personalities from all domains to discuss key challenges facing the CSR domain. The panel discussions shall be aimed at knowledge sharing and also providing a platform for delegates to gain deeper insights into this domain.</p>
                                  </div>
                                  <!--<div class="blog-btn">
                                      <a href="#"><i class="zmdi zmdi-long-arrow-right"></i></a>
                                  </div>-->
                              </div>
                          <!--</div>-->
                      </div>
                        
                      <div class="my-card">
                        <!--<div class="col-12 col-md-6 col-lg-4">-->
                            <div class="single-blog-area wow fadeInUp" data-wow-delay="300ms">
                                <!-- Single blog Thumb -->
                                <div class="single-blog-thumb">
                                    <img src="images/skillWorkshop.jpg" alt="">
                                </div>
                                <div class="single-blog-text text-center">
                                    <a class="blog-title" href="#">Skill Workshops</a>
                                    <!-- Post Meta -->
                                    <!--<div class="post-meta">
                                        <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                                        <a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Laura Green</a>
                                    </div>-->
                                    <p>The summit will host skill building workshops for delegates present especially in the domain of fundraising and communications to enable capacity building of their teams. These workshops are aimed at small scale organisations looking to build capacity for expansion.
                                    </p>
                                </div>
                                <!--<div class="blog-btn">
                                    <a href="#"><i class="zmdi zmdi-long-arrow-right"></i></a>
                                </div>-->
                            </div>
                        <!--</div>-->
                    </div>
    
          
                      </div>
                </div>


                
                

            </div>
        </div>
    </section>
    <!-- Our Blog Area End -->

    <!-- Contact Area Start -->
    <section id="contact" class="contact-our-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <!-- Heading -->
                <div class="col-12">
                    <div class="section-heading text-center wow fadeInUp" data-wow-delay="300ms">
                        <p>Have Question?</p>
                        <h4>Contact us</h4>
                    </div>
                </div>
            </div>

            <div class="row justify-content-between">


                <!--<div class="col-12 col-sm-3">
                    <div class="contact-information mb-100">
                        
                        <div class="single-contact-info wow fadeInUp" data-wow-delay="300ms">
                            <p>Address:</p>
                            <h6> Indian Habitat Centre, New Delhi</h6>
                        </div>
                        
                        <div class="single-contact-info wow fadeInUp" data-wow-delay="300ms">
                            <p>Phone:</p>
                            <h6>+91 7838742434</h6>
                        </div>
                        
                        <div class="single-contact-info wow fadeInUp" data-wow-delay="300ms">
                            <p>Email:</p>
                            <h6>contact@samaavesh.com</h6>
                        </div>
                        
                        <div class="single-contact-info wow fadeInUp" data-wow-delay="300ms">
                            <p>Website:</p>
                            <h6>www.samaavesh.com</h6>
                        </div>
                    </div>
                </div>-->

                <div class="col-12 col-sm-8">
                    <!-- Contact Form -->
                    <div class="contact_from_area mb-100 clearfix wow fadeInUp" data-wow-delay="300ms">
                        <div class="contact_form">
                            <form action="mail.php" method="post" id="main_contact_form">
                                <div class="contact_input_area">
                                    <div id="success_fail_info"></div>
                                    <div class="row">
                                        <!-- Form Group -->
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control mb-30" name="name" id="name" placeholder="Your Name">
                                            </div>
                                        </div>
                                        <!-- Form Group -->
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control mb-30" name="name" id="name2" placeholder="Last Name">
                                            </div>
                                        </div>
                                        <!-- Form Group -->
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <input type="email" class="form-control mb-30" name="email" id="email" placeholder="E-mail">
                                            </div>
                                        </div>
                                        <!-- Form Group -->
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control mb-30" name="subject" id="subject" placeholder="Your Number">
                                            </div>
                                        </div>
                                        <!-- Form Group -->
                                        <div class="col-12">
                                            <div class="form-group">
                                                <textarea name="message" class="form-control mb-30" id="message" cols="30" rows="6" placeholder="Your Message *"></textarea>
                                            </div>
                                        </div>
                                        <!-- Button -->
                                        <div class="col-12">
                                            <button type="submit" class="btn confer-btn">Send Message <i class="zmdi zmdi-long-arrow-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Area End -->

    <!-- Footer Area Start -->
    <footer class="footer-area bg-img bg-overlay-2 section-padding-100-0">
        <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container">
                <div class="row">
                    <!-- Single Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-60 wow fadeInUp" data-wow-delay="300ms">
                            <!-- Footer Logo -->
                            <a href="#" class="footer-logo"><img src="images/core-img/Logo-07-07.png" alt=""></a>
                            <!--<p>To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain.</p>-->

                            <!-- Social Info -->
                            <div class="social-info">
                                <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                                <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                                <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                                <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <!-- Single Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-60 wow fadeInUp" data-wow-delay="300ms">
                            <!-- Widget Title -->
                            <h5 class="widget-title">Contact</h5>

                            <!-- Contact Area -->
                            <div class="footer-contact-info">
                                <p><i class="zmdi zmdi-map"></i> Indian Habitat Centre, New Delhi</p>
                                <p><i class="zmdi zmdi-phone"></i> +91 7838742434</p>
                                <p><i class="zmdi zmdi-email"></i> contact@samaavesh.com</p>
                                <p><i class="zmdi zmdi-globe"></i> www.samaavesh.com</p>
                            </div>
                        </div>
                    </div>

                    

                    <!-- Single Footer Widget Area 
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-60 wow fadeInUp" data-wow-delay="300ms">-->
                            <!-- Widget Title 
                            <h5 class="widget-title">Gallery</h5>-->

                            <!-- Footer Gallery 
                            <div class="footer-gallery">
                                <div class="row">
                                    <div class="col-4">
                                        <a href="images/bg-img/21.jpg" class="single-gallery-item"><img src="images/bg-img/21.jpg" alt=""></a>
                                    </div>
                                    <div class="col-4">
                                        <a href="images/bg-img/22.jpg" class="single-gallery-item"><img src="images/bg-img/22.jpg" alt=""></a>
                                    </div>
                                    <div class="col-4">
                                        <a href="images/bg-img/23.jpg" class="single-gallery-item"><img src="images/bg-img/23.jpg" alt=""></a>
                                    </div>
                                    <div class="col-4">
                                        <a href="images/bg-img/24.jpg" class="single-gallery-item"><img src="images/bg-img/24.jpg" alt=""></a>
                                    </div>
                                    <div class="col-4">
                                        <a href="images/bg-img/25.jpg" class="single-gallery-item"><img src="images/bg-img/25.jpg" alt=""></a>
                                    </div>
                                    <div class="col-4">
                                        <a href="images/bg-img/26.jpg" class="single-gallery-item"><img src="images/bg-img/26.jpg" alt=""></a>
                                    </div>
                                </div>
                            </div>-->


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Copywrite Area -->
        <div class="container">
            <div class="copywrite-content">
                <div class="row">
                    <!-- Copywrite Text -->
                    <div class="col-12 col-md-6">
                        <div class="copywrite-text">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                    </div>
                    <!-- Footer Menu -->
                    <div class="col-12 col-md-6">
                        <div class="footer-menu">
                            <ul class="nav">
                                <li><a href="#"><i class="zmdi zmdi-circle"></i> Terms of Service</a></li>
                                <li><a href="#"><i class="zmdi zmdi-circle"></i> Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->

    <!-- **** All JS Files ***** -->
    <!-- jQuery 2.2.4 -->
    <script src="javascripts/jquery.min.js"></script>
    <!-- jQuery Countdown -->
    <script src="javascripts/jquery.countdown.min.js"></script>
    <!-- Popper -->
    <script src="javascripts/popper.min.js"></script>
    <!-- Bootstrap -->
    <script src="javascripts/bootstrap.min.js"></script>
    <!-- All Plugins -->
    <script src="javascripts/confer.bundle.js"></script>
    <!-- Active -->
    <script src="javascripts/default-assets/active.js"></script>
    <!-- Slider -->
    <script src="javascripts/slider.js"></script>
    <!-- Classy-nav -->
    <script src="javascripts/classy-nav.js"></script>

</body>

</html>